/*
 |--------------------------------------------------------------------------
 | CSS entry point
 |--------------------------------------------------------------------------
 |
 | Default CSS configuration which
 | includes Tailwind CSS and base styling. You can extend it however
 | you want thanks to the PostCSS import plugin.
 |
 */

/* Tailwind's base styling */
@import 'tailwindcss/base';

/* App base styling */
/* @import 'base'; */

/* Tailwind's components */
@import 'tailwindcss/components';

/* App components */
/* @import 'components'; */

/* Tailwind utilities */
@import 'tailwindcss/utilities';
